<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpaceCreatorMEP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpaceCreatorMEP.Properties.Settings>
            <setting name="helpURL" serializeAs="String">
                <value>https://docs.google.com/document/d/1w61MSDl3wuLn6hG8LmpzhGMRkhZH9bNQuyePYg6-yMQ/edit?usp=sharing</value>
            </setting>
        </SpaceCreatorMEP.Properties.Settings>
    </userSettings>
</configuration>